@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@400;500;900&display=swap');
$main: #001E47;
$mainFontColor: #FF5757;
$mainFont: 'Zen Kaku Gothic Antique', sans-serif;
// $heroImageDT: url(../Assets/Desktop.jpg);